<tr>
  <th scope="row" class="left" {% if title == '%TS *' %} id="ts"><span class="hover"> {{title}}</span> <span class="hovershow" style="display:none;font-size:0.5rem;font-style:italic;">    %Tir  2pts,3pts et LF: PTS / (2(Tir tentés + 0.44 LF tentés))</span>{% else %}> {{title}}  {% endif %}</th>
  <td>{{hstat}} 
        
  <td>{{astat}} 
       
        </td>
</tr>